In [71]:
import requests

In [72]:
from bs4 import BeautifulSoup

In [73]:
r = requests.get('https://www.yelp.com/biz/tesla-san-francisco?osq=Tesla+Dealership')

In [75]:
soup = BeautifulSoup(r.text,'html.parser')

In [76]:
divs = soup.findAll(class_="review__373c0__13kpL")

In [77]:
reviews = []
for div in divs:
    reviews.append(div.find('p').text)

# Analysing the data

In [79]:
import pandas as pd
import numpy as np

In [80]:
df = pd.DataFrame(np.array(reviews),columns=['review'])

In [81]:
df.head()

                                              review
0  I had an issue with the undercarriage cover. T...
1  I ended up filing a complaint against them wit...
2  We dropped our car at our scheduled appointmen...
3  Today was delivery day and we were pretty exci...
4  Horrible customer service:1) Placed order via ...

In [82]:
len(df['review'])

10

In [83]:
df['word_count'] = df['review'].apply(lambda x:len(x.split()))

In [84]:
df

                                              review  word_count
0  I had an issue with the undercarriage cover. T...          29
1  I ended up filing a complaint against them wit...          54
2  We dropped our car at our scheduled appointmen...         125
3  Today was delivery day and we were pretty exci...         306
4  Horrible customer service:1) Placed order via ...         293
5  TERRIBLE customer services. The guy name CK in...          90
6  I recently brought a brand new Tesla to fix so...         156
7  My Tesla 2016 model x would be the perfect car...          58
8  The service center here is TERRIBLE. I had a t...         267
9  Unfortunately, as a recent new Tesla owner, I ...         184

In [85]:
df['char_count'] = df['review'].apply(lambda x:len(x))

In [86]:
def average_words(review):
    words = review.split()
    return sum(len(word) for word in words)/len(words)

In [87]:
df['average_word_length'] = df['review'].apply(lambda x: average_words(x))

In [88]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /home/akash/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/akash/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [89]:
stop_words = stopwords.words('english')

In [90]:
df['stopword_count'] = df['review'].apply(lambda x:len([word for word in x.split() if word.lower() in stop_words]))

In [91]:
df.head()

,review,word_count,char_count,average_word_length,stopword_count
0,I had an issue with the undercarriage cover. T...,29,164,4.655172,14
1,I ended up filing a complaint against them wit...,54,322,4.981481,28
2,We dropped our car at our scheduled appointmen...,125,663,4.312000,60
3,Today was delivery day and we were pretty exci...,306,1730,4.656863,145
4,Horrible customer service:1) Placed order via ...,293,1571,4.327645,139

In [92]:
df['stopword_rate'] = df['stopword_count']/df['word_count']

In [93]:
df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_rate
0,I had an issue with the undercarriage cover. T...,29,164,4.655172,14,0.482759
1,I ended up filing a complaint against them wit...,54,322,4.981481,28,0.518519
2,We dropped our car at our scheduled appointmen...,125,663,4.312000,60,0.480000
3,Today was delivery day and we were pretty exci...,306,1730,4.656863,145,0.473856
4,Horrible customer service:1) Placed order via ...,293,1571,4.327645,139,0.474403

In [94]:
df.sort_values(by='stopword_rate')

,review,word_count,char_count,average_word_length,stopword_count,stopword_rate
7,My Tesla 2016 model x would be the perfect car...,58,345,4.948276,24,0.413793
9,"Unfortunately, as a recent new Tesla owner, I ...",184,1079,4.864130,77,0.418478
5,TERRIBLE customer services. The guy name CK in...,90,527,4.866667,39,0.433333
6,I recently brought a brand new Tesla to fix so...,156,821,4.269231,71,0.455128
3,Today was delivery day and we were pretty exci...,306,1730,4.656863,145,0.473856
4,Horrible customer service:1) Placed order via ...,293,1571,4.327645,139,0.474403
2,We dropped our car at our scheduled appointmen...,125,663,4.312000,60,0.480000
0,I had an issue with the undercarriage cover. T...,29,164,4.655172,14,0.482759
8,The service center here is TERRIBLE. I had a t...,267,1424,4.337079,131,0.490637
1,I ended up filing a complaint against them wit...,54,322,4.981481,28,0.518519

In [95]:
df.describe()

,word_count,char_count,average_word_length,stopword_count,stopword_rate
count,10.000000,10.00000,10.000000,10.000000,10.000000
mean,156.200000,864.60000,4.621854,72.800000,0.464091
std,103.186778,559.61995,0.287684,49.615858,0.033511
min,29.000000,164.00000,4.269231,14.000000,0.413793
25%,66.000000,390.50000,4.330003,30.750000,0.438782
50%,140.500000,742.00000,4.656018,65.500000,0.474129
75%,246.250000,1337.75000,4.866033,117.500000,0.482069
max,306.000000,1730.00000,4.981481,145.000000,0.518519

#  Data Cleaning

In [96]:
df['lowercase'] = df['review'].apply(lambda x: " ".join(word.lower() for word in x.split()))

In [97]:
df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_rate,lowercase
0,I had an issue with the undercarriage cover. T...,29,164,4.655172,14,0.482759,i had an issue with the undercarriage cover. t...
1,I ended up filing a complaint against them wit...,54,322,4.981481,28,0.518519,i ended up filing a complaint against them wit...
2,We dropped our car at our scheduled appointmen...,125,663,4.312000,60,0.480000,we dropped our car at our scheduled appointmen...
3,Today was delivery day and we were pretty exci...,306,1730,4.656863,145,0.473856,today was delivery day and we were pretty exci...
4,Horrible customer service:1) Placed order via ...,293,1571,4.327645,139,0.474403,horrible customer service:1) placed order via ...

In [98]:
df['punctuation'] = df['lowercase'].str.replace('[^\w\s]','')

<ipython-input-98-6f890f85f276>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['punctuation'] = df['lowercase'].str.replace('[^\w\s]','')

In [99]:
df['stopwords'] = df['punctuation'].apply(lambda x:" ".join(word for word in x.split() if word not in stop_words))

In [100]:
pd.Series(" ".join(df['stopwords']).split()).value_counts()[:30]

service        26
car            19
tesla          12
us              9
new             8
time            6
appointment     6
get             6
even            6
issue           5
jessica         5
said            5
customer        5
back            5
day             5
didnt           4
guy             4
would           4
upgrade         4
brand           4
problem         4
customers       4
told            4
order           4
another         3
explained       3
job             3
advise          3
call            3
without         3
dtype: int64

In [101]:
other_stop_words = ['get','without', 'would', 'week','us','test','left','one','even','also','go','asked','ap']

In [102]:
df['cleanviews'] = df['stopwords'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stop_words))

In [103]:
df['cleanviews']

0    issue undercarriage cover rep daniel manager r...
1    ended filing complaint california bureau autom...
2    dropped car scheduled appointment 11am told ba...
3    today delivery day pretty excited collect car ...
4    horrible customer service1 placed order via ap...
5    terrible customer services guy name ck front i...
6    recently brought brand new tesla fix post deli...
7    tesla 2016 model x perfect car ifservice techs...
8    service center terrible tire needed patched ta...
9    unfortunately recent new tesla owner agree maj...
Name: cleanviews, dtype: object

In [104]:
pd.Series(" ".join(df['cleanviews']).split()).value_counts()[:30]

service        26
car            19
tesla          12
new             8
time            6
appointment     6
issue           5
customer        5
jessica         5
back            5
said            5
day             5
problem         4
didnt           4
guy             4
customers       4
upgrade         4
brand           4
told            4
order           4
find            3
weeks           3
explained       3
text            3
needed          3
shop            3
redwood         3
actually        3
fix             3
today           3
dtype: int64

In [105]:
df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_rate,lowercase,punctuation,stopwords,cleanviews
0,I had an issue with the undercarriage cover. T...,29,164,4.655172,14,0.482759,i had an issue with the undercarriage cover. t...,i had an issue with the undercarriage cover th...,issue undercarriage cover rep daniel manager r...,issue undercarriage cover rep daniel manager r...
1,I ended up filing a complaint against them wit...,54,322,4.981481,28,0.518519,i ended up filing a complaint against them wit...,i ended up filing a complaint against them wit...,ended filing complaint california bureau autom...,ended filing complaint california bureau autom...
2,We dropped our car at our scheduled appointmen...,125,663,4.312000,60,0.480000,we dropped our car at our scheduled appointmen...,we dropped our car at our scheduled appointmen...,dropped car scheduled appointment 11am told ba...,dropped car scheduled appointment 11am told ba...
3,Today was delivery day and we were pretty exci...,306,1730,4.656863,145,0.473856,today was delivery day and we were pretty exci...,today was delivery day and we were pretty exci...,today delivery day pretty excited collect car ...,today delivery day pretty excited collect car ...
4,Horrible customer service:1) Placed order via ...,293,1571,4.327645,139,0.474403,horrible customer service:1) placed order via ...,horrible customer service1 placed order via ap...,horrible customer service1 placed order via ap...,horrible customer service1 placed order via ap...

#  Lemmatization

In [106]:
#import textblob
from textblob import Word

In [110]:
df['lemmatized'] = df['cleanviews'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))

In [111]:
df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_rate,lowercase,punctuation,stopwords,cleanviews,lemmatized
0,I had an issue with the undercarriage cover. T...,29,164,4.655172,14,0.482759,i had an issue with the undercarriage cover. t...,i had an issue with the undercarriage cover th...,issue undercarriage cover rep daniel manager r...,issue undercarriage cover rep daniel manager r...,issue undercarriage cover rep daniel manager r...
1,I ended up filing a complaint against them wit...,54,322,4.981481,28,0.518519,i ended up filing a complaint against them wit...,i ended up filing a complaint against them wit...,ended filing complaint california bureau autom...,ended filing complaint california bureau autom...,ended filing complaint california bureau autom...
2,We dropped our car at our scheduled appointmen...,125,663,4.312000,60,0.480000,we dropped our car at our scheduled appointmen...,we dropped our car at our scheduled appointmen...,dropped car scheduled appointment 11am told ba...,dropped car scheduled appointment 11am told ba...,dropped car scheduled appointment 11am told ba...
3,Today was delivery day and we were pretty exci...,306,1730,4.656863,145,0.473856,today was delivery day and we were pretty exci...,today was delivery day and we were pretty exci...,today delivery day pretty excited collect car ...,today delivery day pretty excited collect car ...,today delivery day pretty excited collect car ...
4,Horrible customer service:1) Placed order via ...,293,1571,4.327645,139,0.474403,horrible customer service:1) placed order via ...,horrible customer service1 placed order via ap...,horrible customer service1 placed order via ap...,horrible customer service1 placed order via ap...,horrible customer service1 placed order via ap...

#  Sentiment Analysis

In [109]:
from textblob import TextBlob

In [115]:
df['polarity'] = df['lemmatized'].apply(lambda x: TextBlob(x).sentiment[0])
df['subjectivity']= df['lemmatized'].apply(lambda x: TextBlob(x).sentiment[1])

In [122]:
df.drop(['stopword','cleanviews','lemmatized'],axis=1,inplace=True)
df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_rate,polarity,subjectivity
0,I had an issue with the undercarriage cover. T...,29,164,4.655172,14,0.482759,0.300000,0.600000
1,I ended up filing a complaint against them wit...,54,322,4.981481,28,0.518519,-0.054545,0.251515
2,We dropped our car at our scheduled appointmen...,125,663,4.312000,60,0.480000,-0.020455,0.296861
3,Today was delivery day and we were pretty exci...,306,1730,4.656863,145,0.473856,0.291106,0.667274
4,Horrible customer service:1) Placed order via ...,293,1571,4.327645,139,0.474403,-0.065909,0.600000

In [123]:
df.sort_values(by='polarity')

,review,word_count,char_count,average_word_length,stopword_count,stopword_rate,polarity,subjectivity
4,Horrible customer service:1) Placed order via ...,293,1571,4.327645,139,0.474403,-0.065909,0.600000
1,I ended up filing a complaint against them wit...,54,322,4.981481,28,0.518519,-0.054545,0.251515
5,TERRIBLE customer services. The guy name CK in...,90,527,4.866667,39,0.433333,-0.053247,0.475758
2,We dropped our car at our scheduled appointmen...,125,663,4.312000,60,0.480000,-0.020455,0.296861
8,The service center here is TERRIBLE. I had a t...,267,1424,4.337079,131,0.490637,0.007917,0.427381
6,I recently brought a brand new Tesla to fix so...,156,821,4.269231,71,0.455128,0.036830,0.429604
9,"Unfortunately, as a recent new Tesla owner, I ...",184,1079,4.864130,77,0.418478,0.068831,0.313412
7,My Tesla 2016 model x would be the perfect car...,58,345,4.948276,24,0.413793,0.250000,0.383333
3,Today was delivery day and we were pretty exci...,306,1730,4.656863,145,0.473856,0.291106,0.667274
0,I had an issue with the undercarriage cover. T...,29,164,4.655172,14,0.482759,0.300000,0.600000